<div class="top-bar">
  <div class="row">
    <div class="top-bar-left">
      <ul class="menu">
        <li class="menu-text">contactManager</li>
      </ul>
    </div>
    <div class="top-bar-right">

    </div>
  </div>
</div>
<br>

<div class="row">
  <div class="large-6 columns">
    <button (click)="changeState('add')" class="button">Add Business</button>
  </div>
  <div class="large-6 columns">
    <label for="filterlist">Filter Category</label>
    <select (change)="filterCategory(filteredCategory.value)" #filteredCategory name="" id="filterlist">
      <option value="0">Select</option>
      <option *ngFor="let category of categories" value="{{category.name}}">{{category.name}}</option>
    </select>
  </div>
</div>

<!--ADD FORM-->
<div *ngIf="appState == 'add'" class="row">
  <div class="large-12 columns">
    <h3>Add Business</h3>
    <form (submit)="addBusiness(
    company.value,
    category.value,
    years_in_business.value,
    description.value,
    phone.value,
    email.value,
    street_address.value,
    city.value,
    state.value,
    zipcode.value)" action="">
      <div class="row">
        <div class="medium-6 columns">
          <label for="">Company</label>
          <input type="text" #company placeholder="Company Name">
        </div>
        <div class="medium-6 columns">
          <label for="">Category</label>
          <select #category name="" id="">
            <option value="0">Select</option>
            <option *ngFor="let category of categories" value="{{category.name}}">{{category.name}}</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="medium-6 columns">
          <label for="">Years in Business</label>
          <input type="text" #years_in_business placeholder="Years in business">
        </div>
        <div class="medium-6 columns">
          <label for="">Description</label>
          <textarea #description></textarea>
        </div>
      </div>
      <div class="row">
        <div class="medium-6 columns">
          <label for="">Phone</label>
          <input type="text" #phone placeholder="Phone">
        </div>
        <div class="medium-6 columns">
          <label for="">Email</label>
          <input type="text" #email placeholder="Email">
        </div>
      </div>
      <div class="row">
        <div class="medium-6 columns">
          <label for="">Street</label>
          <input type="text" #street_address placeholder="Street">
        </div>
        <div class="medium-6 columns">
          <label for="">City</label>
          <input type="text" #city placeholder="City">
        </div>
      </div>
      <div class="row">
        <div class="medium-6 columns">
          <label for="">State</label>
          <input type="text" #state placeholder="State">
        </div>
        <div class="medium-6 columns">
          <label for="">Zip</label>
          <input type="text" #zipcode placeholder="Zip">
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <input type="submit" class="button" value="Submit">
        </div>
      </div>
    </form>
  </div>
</div>
<!--EDIT FORM-->
<div *ngIf="appState == 'edit'" class="row">
  <div class="large-12 columns">
    <h3>Edit Business</h3>
    <form (submit)="updateBusiness()">
      <div class="row">
        <div class="medium-6 columns">
          <label for="">Company</label>
          <input type="text" [(ngModel)]="activeCompany" name="activeCompany" #company placeholder="Company Name">
        </div>
        <div class="medium-6 columns">
          <label for="categoryDropdown">Category</label>
          <select [(ngModel)]="activeCategory" #category name="activeCategory" id="categoryDropdown">
            <option value="0">Select</option>
            <option *ngFor="let category of categories" value="{{category.name}}">{{category.name}}</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="medium-6 columns">
          <label for="">Years in Business</label>
          <input [(ngModel)]="activeYearsInBusiness" name="activeYearsInBusiness" type="text" #years_in_business placeholder="Years in business">
        </div>
        <div class="medium-6 columns">
          <label for="descriptionTextarea">Description</label>
          <textarea [(ngModel)]="activeDescription" name="activeDescription" id="descriptionTextarea" #description></textarea>
        </div>
      </div>
      <div class="row">
        <div class="medium-6 columns">
          <label for="">Phone</label>
          <input [(ngModel)]="activePhone" name="activePhone" type="text" #phone placeholder="Phone">
        </div>
        <div class="medium-6 columns">
          <label for="">Email</label>
          <input [(ngModel)]="activeEmail" name="activeEmail" type="text" #email placeholder="Email">
        </div>
      </div>
      <div class="row">
        <div class="medium-6 columns">
          <label for="">Street</label>
          <input [(ngModel)]="activeStreetAddress" name="activeStreetAddress" type="text" #street_address placeholder="Street">
        </div>
        <div class="medium-6 columns">
          <label for="">City</label>
          <input [(ngModel)]="activeCity" name="activeCity" type="text" #city placeholder="City">
        </div>
      </div>
      <div class="row">
        <div class="medium-6 columns">
          <label for="">State</label>
          <input [(ngModel)]="activeState" name="activeState" type="text" #state placeholder="State">
        </div>
        <div class="medium-6 columns">
          <label for="">Zip</label>
          <input [(ngModel)]="activeZipcode" name="activeZipcode" type="text" #zipcode placeholder="Zip">
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <input type="submit" class="button" value="Submit">
        </div>
      </div>
    </form>
  </div>
</div>

<div *ngIf="appState == 'extend'">
  <div class="row">
    <div class="large-12 columns">
      <button (click)="changeState('default')" class="button alert">Go Back</button>
    </div>
  </div>

  <div *ngFor="let business of businesses">
    <div *ngIf="business.$key == activeKey">
      <div class="row">
        <div class="large-5 columns large-offset-1">
          <h3>{{business.company}}</h3>
          <p>Category: {{business.category}}</p>
          <p>Years in business: {{business.years_in_business}}</p>
          <p>{{business.description}}</p>
        </div>
        <div class="large-5 columns large-offset-1">
          <ul>
            <li>Phone: {{business.phone}}</li>
            <li>Email: {{business.email}}</li>
            <li>Street: {{business.street_address}}</li>
            <li>City: {{business.city}}</li>
            <li>State: {{business.state}}</li>
            <li>Zip: {{business.zipcode}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div *ngIf="businesses">
      <table>
        <thead>
        <tr>
          <th>Company</th>
          <th>Category</th>
          <th>Phone</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let business of businesses">
          <td>{{business.company}}</td>
          <td>{{business.category}}</td>
          <td>{{business.phone}}</td>
          <td>
            <button (click)="changeState('extend', business.$key)" class="button">More</button>
            <button (click)="showEdit(business)" class="button secondary">Edit</button>
            <button (click)="deleteBusiness(business.$key)" class="button alert">Delete</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
